:root {
    --clr-link: #4c70af;
    --clr-linkActive: #2b436b;
    --clr-bg1: #f2f2f2;
}

body {
    background-color: var(--clr-bg1);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#clicks {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

button {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: 0 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--clr-link);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--clr-linkActive);
}

@media screen and (max-width: 373px) {
    #overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

    button {
        margin-top: .5rem;
    }
}